body::before {
    display: block;
    content: '';
    height: 60px;
}

a {
    color: aliceblue;
}

a:hover {
    color: aqua;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#up {
    color: aqua;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}