body::before {
    display: block;
    content: '';
    height: 60px;
}

a {
    color: aliceblue;
}

a:hover {
    color: aqua;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#frazier {
    background-image: url("img/brenden_frazier.jpeg");
    background-size: cover;
}
.card {
    background-color: transparent; 
}
#dench {
    background-image: url("img/judy_dench.jpeg");
    background-size: cover;
}
#williams {
    background-image: url("img/robin_williams.jpeg");
    background-size: cover;
}
#up {
    color: aqua;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}
